@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    --font-family: 'Poppins', sans-serif;
    --font-color: white;
}

*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}
.padding-top-heading{
    padding-top: 15px;
}
.padding-top-sub-heading{
    padding-top: 15px;
}
.padding-side{
    padding: 0px 20px;
}
@media screen and (max-width: 900px) {
    .text{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .text p{
        font-size: 1.5rem;
        color: yellow;
    }
    .btn button{
        border: 0px;
        border-radius: 10px;
        background-color: aliceblue;
        padding: 15px;
    }
    .btn a{
        color: black;
        font-size: 1.1rem;
        font-weight: 700;
        text-decoration: none;
    }
  }